@import "styles/settings/__settings";

.featureList {

  text-align: center;

  h2 {
    font-size: 2.2em;
    margin-bottom: 1.2em;
  }

  ul {
    font-size: 1.5em;
    list-style: none;
    padding: 0;
  }

  li {
    margin: 1em 0;
  }

}

