@import "styles/settings/__settings";
@import "styles/util/__util";

.posts {
  list-style: none;
  padding-left: 0;

  & > li {
    margin: 2em 0;

    @include gtLarge() {
      margin: 5em 0;
    }

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
