@import "styles/settings/__settings";
@import "styles/util/__util";

.button {
  display: inline-block;
  color: white;
  font-family: inherit;
  font-size: 1.3em;
  font-weight: 700;
  background-color: $color-brand-purple;
  padding: 0.8em 1.4em;
  border: 0;
  cursor: pointer;

  &[data-display="full"] {
    display: block;
    width: 100%;
  }
}
