@import "styles/settings/__settings";
@import "styles/util/__util";

.homeTitle {
  font-size: 4em;
  text-align: center;
  margin: 0;
}

.homeDescription {

  text-align: center;
  font-size: 2em;
  margin-bottom: 0;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    margin-right: .5em;
  }

}

.homeDescriptionShipping {
  display: block;
  font-size: .6em;
  margin-top: .5em;
}

.poweredBy {

  text-align: center;
  font-size: 1.4em;
  margin: 2em 0 0;

  a {

    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;

    @include gtMedium() {
      flex-direction: row;
    }

  }

  svg {

    width: auto;
    height: 1.8em;
    margin-top: .5em;

    @include gtMedium() {
      margin-left: .8em;
      margin-top: 0;
    }

  }

}

.homeNotes {

  text-align: center;

  h2 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

.products {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

}

.product {

  padding: .5em;

  @include gtSmall() {
    width: 100%;
  }

  @include gtMedium() {
    width: 50%;
  }

  @include gtXlarge() {
    width: 25%;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

.productTitle {
  font-size: 1.4em;
  margin-bottom: .5em;
}

.productPrice {
  font-size: 1.2em;
  margin: 0 0 1em;
}

.productButton {
  font-size: 1em;
}


.sectionOther {

  h2 {
    font-size: 2em;
    margin-bottom: 2em;
  }

  a {
    text-decoration: none;
  }

  button {
    background-color: $color-secondary;
  }

}

.homeInTheWildHeader {

  @include gtLarge() {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.cosmoWild {
  display: flex;
  max-width: calc(100vw - 4rem);
  overflow: hidden;
  overflow-x: scroll;
  list-style: none;
  padding: 0 0 12px;
  margin: 0;
}

.cosmoWildItem {

  flex-shrink: 0;
  width: 12em;
  height: 12em;
  background-size: cover;
  background-position: center center;
  margin-right: .5em;

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

}

.cosmoWildCountry {

  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: .8em;
  color: white;
  background-color: $color-secondary;
  padding: .4em .8em .45em;

  svg {
    font-size: .8em;
    margin-right: .4em;
  }

}