@import "styles/settings/__settings";
@import "styles/util/__util";

@import "components/Button/Button.module.scss";

.contentHeader {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $color-brand-blue-medium;
  padding: 0.6em 0.8em;
  margin: 0 0 3em;
  @include boxShadow();
}

.postsSection {
  margin: 1rem 0;
}

.postsContainer {
  display: flex;
  flex-direction: column;

  @include gtLarge() {
    flex-direction: row;
  }
}

.postsAllPosts {
  margin: 3.5em 0 0;

  a {
    @extend .button;
    display: inline-block;
    width: 100%;
    font-size: 0.9em;
    text-align: center;

    @include gtLarge() {
      width: auto;
    }
  }
}
