@import "styles/settings/__settings";
@import "styles/util/__util";

.postsSection {
  margin: 1rem 0;
}

.postsContainer {
  display: flex;
}

.sidebar {
  flex-shrink: 0;
  width: 20rem;
  margin-left: 3rem;
}

.sidebarSection {
  background-color: white;
  @include boxShadow();
}

.sidebarSectionHeader {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $color-brand-aqua;
  padding: .6em .8em;
  margin: 0;
}

.sidebarSectionBody {

  padding: .8em;

  p {

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

  }

}