@import "styles/settings/__settings";
@import "styles/util/__util";

.pageHeader {
  h1 {
    color: white;
  }
}

.pageSection {
  padding-top: 0;
  margin-top: 0;
}

.pageContent {
  font-size: 0.9em;
  background-color: white;
  padding: 2.5em;
  @include boxShadow();

  h2 {
    font-size: 2em;
    margin-top: 2.6rem;
  }

  figure {
    margin: 4rem 0;

    iframe {
      display: block;
      margin: 0 auto;
    }
  }
}
