@import "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/night-owl.min.css";

@import "styles/settings/__settings";
@import "styles/util/__util";

@import "components/Button/Button.module.scss";

.postHeader {
  margin-bottom: 2em;
}

.title {
  color: white;
  font-size: 1.6em;
  line-height: 1.1;
  margin: 0 0 0.5em;

  @include gtMedium() {
    font-size: 2.4em;
  }
}

.postIntro {
  margin-bottom: 1.5em;
}

.postIntroAnchors {
  display: block;
  margin-bottom: 2em;

  @include gtHuge() {
    display: none;
  }
}

.postContent {
  a {
    line-break: anywhere;
  }
}

.resources {
  font-size: 0.9em;
}

.resourcesLinks {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  a {
    @include titleLink;
    display: flex;
    align-items: center;

    svg {
      margin-right: 0.3em;
    }
  }
}

.postAnchors {
  font-size: 0.8em;

  p {
    color: $color-brand-orange-light;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    margin: 0.6em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.postVideo {
  max-width: 50rem;
}

.contentSection {
  color: lighten($color-blue-100, 6);
  padding: 4em 0 5em;
  margin-top: 0;

  @include ltMedium() {
    padding-top: 2em;
  }

  h2 {
    color: white;
  }
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr;

  @include gtHuge() {
    grid-template-columns: 15fr 5fr;
  }
}

.postSidebar {
  width: auto;
  margin-left: 0;

  @include gtHuge() {
    margin-left: 3rem;
  }
}

.postSidebarToc {
  display: none;

  @include gtHuge() {
    display: block;
  }
}

.tools {
  font-size: 0.8em;
}

.toolsHeader {
  color: $color-brand-orange-light;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.toolsLinks {
  list-style: none;
  padding: 0;
  margin: 0;

  a {
    @include titleLink;
  }
}

.postMetadata {
  color: $color-gray-100;
  text-align: center;
  align-items: flex-start;
  justify-content: center;

  @include gtSmall() {
    align-items: center;
  }
}

.postFooter {
  text-align: center;
  margin-top: 3em;
  border-top: solid 4px $color-brand-aqua-light;
  padding-top: 2em;
}

.postModified {
  color: $color-brand-aqua-light;
  font-style: italic;
}

.relatedSection {
  background-color: $color-brand-purple-medium;
  padding: 5em 0 calc(15vw + 2rem); // Additional vw to acommodate for section art
  margin: 0;

  h2 {
    color: white;
    text-align: center;
    margin-bottom: 1.5em;
  }
}

.relatedSectionLink {
  @include pageLink;
  text-transform: none;
}

.relatedPosts {
  display: flex;
  flex-direction: column;
  align-items: center;

  li {
    margin: 0 0 0.8em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.relatedPostsCard {
  h3 {
    font-size: 1.1em;
    @include titleLink;
    text-transform: none;
    font-weight: 600;
    text-align: center;
  }

  a {
    padding: 0.2em 0;
  }
}
