@import "styles/settings/__settings";
@import "styles/util/__util";
@import "style.css";
@import "space-jelly-ui/dist/index.css";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $color-site-background;
  padding: 0;
  margin: 0;
  font-family: $font-family-default;
}

body {
  position: relative;

  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    content: "";
    width: 100%;
    height: 15rem;
    background: linear-gradient($color-site-background-dark, $color-site-background-light);
  }

  &:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    content: "";
    width: 100%;
    height: 25rem;
    background: linear-gradient($color-site-background-light, lighten($color-site-background-light, 15));
  }
}

#__next {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

p {
  line-height: 1.6;
  margin: 1.2em 0;
}

ul {
  padding-left: 1.2em;
}

a {
  color: $color-brand-purple;
}

img {
  max-width: 100%;
}

input {
  &[type="text"],
  &[type="search"],
  &[type="email"] {
    outline-offset: 0;
    padding: 0.5em 0.8em;
  }
}

pre {
  color: $color-blue-100;
  background-color: $color-site-background-dark;
  border-radius: 0;
  @include boxShadow();
}

figure {
  text-align: center;

  iframe {
    width: 100%;
    max-width: 640px;
  }

  img {
    width: 100%;
    height: auto;
    border: none;
  }
}

.sr-only {
  display: block;
  overflow: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}
