@import "styles/settings/__settings";

.content {
  color: lighten($color-brand-aqua-light, 40);
  font-size: 1.2rem;

  h2,
  h3,
  h4,
  p,
  ul {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    font-weight: bold;
    margin-top: 1.8em;
  }

  h3 {
    color: $color-brand-orange-light;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 2em;
  }

  img {
    display: block;
    margin: 0 auto;
  }

  pre {
    background-color: $color-brand-deepaqua-medium;
  }
}
