@import "styles/settings/__settings";

.layoutContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.stars {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  min-width: 100vw;
  height: auto;
  min-height: 100vh;
  opacity: 0.5;
  margin: 0 auto;

  path {
    fill: $color-brand-aqua-light;
  }
}
