@import "styles/settings/__settings";
@import "styles/util/__util";

.archiveDescription {
  text-align: center;
  font-size: 1.1em;
  color: $color-gray-200;
  max-width: 36em;
  margin-left: auto;
  margin-right: auto;
}

.archiveDescriptionContent {
  display: block;
  margin-bottom: 0.5em;
}

.postsSection {
  margin-top: 5em;

  @include gtSmall() {
    margin-top: 6em;
  }
}

.posts {
  font-size: 0.8em;
  list-style: none;
  padding-left: 0;
  margin: -1rem 0;

  @include gtLarge() {
    font-size: 1em;
  }

  & > li {
    margin: 4em 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
