@import "styles/settings/__settings";
@import "styles/util/__util";

.sidebarSectionHeader {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $color-brand-aqua;
  padding: 0.6em 0.8em;
  margin: 0;
}
