@import "styles/settings/__settings";

.formSubscribe {
  label {
    display: block;
    color: rgba(white, 0.7);
    font-size: 0.9em;
    font-weight: 400;
    margin-bottom: 1em;
  }

  input {
    width: 100%;
    border-radius: 2px;
    margin-bottom: 1.2em;
  }

  button {
    font-size: 1em;
    border-radius: 2px;
  }
}

.formSuccessMessage,
.formErrorMessage {
  line-height: 1.3;
  padding: 0.4em 0.6em;
  border-radius: 2px;
}

.formSuccessMessage {
  background-color: $color-green-600;
}

.formErrorMessage {
  background-color: $color-red-600;
}
