$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-blue-50: #f3f8ff;
$color-blue-100: #c0ddff;
$color-blue-200: #8dc1ff;
$color-blue-300: #5aa6ff;
$color-blue-400: #278bff;
$color-blue-500: #0070f3;
$color-blue-600: #0059c0;
$color-blue-700: #00418d;
$color-blue-800: #002a5a;
$color-blue-900: #001227;

$color-purple-50: #fdfcfe;
$color-purple-100: #FFF2FE;
$color-purple-200: #dccde9;
$color-purple-300: #c3a9da;
$color-purple-400: #aa86ca;
$color-purple-500: #9162BB;
$color-purple-600: #714DA0;
$color-purple-700: #513885;
$color-purple-800: #30236A;
$color-purple-900: #100E4F;

$color-primary: $color-blue-500;
$color-secondary: $color-purple-500;