$color-gray-50: #eef0f3;
$color-gray-100: #cfd7de;
$color-gray-200: #b1bdca;
$color-gray-300: #93a3b5;
$color-gray-400: #7589a0;
$color-gray-500: #5c7086;
$color-gray-600: #475768;
$color-gray-700: #333e4a;
$color-gray-800: #1e242b;
$color-gray-900: #090b0d;

$color-blue-50: #f3f8ff;
$color-blue-100: #c0ddff;
$color-blue-200: #8dc1ff;
$color-blue-300: #5aa6ff;
$color-blue-400: #278bff;
$color-blue-500: #0070f3;
$color-blue-600: #0059c0;
$color-blue-700: #00418d;
$color-blue-800: #002a5a;
$color-blue-900: #001227;

$color-primary: $color-blue-500;

$color-brand-purple-light: #8550c9;
$color-brand-purple-medium: #512382;
$color-brand-purple-dark: #29002e;

$color-brand-pink-light: #ffc5e5;
$color-brand-pink-medium: #cb56ac;
// $color-brand-pink-dark: #29002e;

$color-brand-aqua-light: #51add5;
$color-brand-aqua-medium: #1f7ead;
$color-brand-aqua-dark: #003257;

$color-brand-green-light: #4fa9ac;
$color-brand-green-medium: #007e65;
$color-brand-green-dark: #004538;

$color-brand-deepaqua-light: #012e41;
$color-brand-deepaqua-medium: #011e30;
$color-brand-deepaqua-dark: #001523;

$color-brand-orange-light: #ff7550;
$color-brand-orange-medium: #ea4800;
// $color-brand-orange-dark: #001523;

// $color-brand-yellow-light: #012E41;
$color-brand-yellow-medium: #ffdb00;
// $color-brand-yellow-dark: #001523;

$color-brand-aqua: #25bebc;
$color-brand-blue-light: #397dff;
$color-brand-blue-medium: #397dff;
$color-brand-deep-blue: #0b0535;
$color-brand-purple: #9c5bc3;
$color-brand-blue-shadow: $color-brand-blue-medium;

$color-site-background: $color-brand-deepaqua-dark;

$component-shadow-box-color: #2e2fe2;
$component-shadow-box-color-high: #2712a5;
$component-shadow-box-color-low: #212ee4;
