$breakpoint-tiny: 320px;
$breakpoint-small: 480px;
$breakpoint-medium: 640px;
$breakpoint-large: 800px;
$breakpoint-xlarge: 960px;
$breakpoint-huge: 1024px;

$display-page-width-max: 80rem;

$border-radius-small: 0.2em;
