@import "styles/settings/__settings";
@import "styles/util/__util";

.footer {
  display: grid;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: $color-brand-pink-medium;
  padding-top: 12vw;

  @include gtLarge() {
    padding-top: 10vw;
  }

  @include gtHuge() {
    padding-top: 8vw;
  }
}

.footerSand {
  position: absolute;
  top: -8vw;
  width: 100vw;
  height: auto;
  left: 0;
  z-index: -1;
}

.footerSandSpaceship {
  position: absolute;
  top: -20vw;
  left: 0;
  right: 0;
  width: 70vw;
  height: auto;
  margin: 0 auto;
  transform: translateX(-3vw);

  @include gtLarge() {
    top: -15vw;
    width: 50vw;
  }
}

.footerSection {
  padding: 0;
}

.heading {
  font-size: 1.6em;
  margin-bottom: 1em;

  h3 {
    text-align: center;
  }
}

.footerAuthorInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include gtSmall() {
    flex-direction: row;
  }
}

.footerAuthorImage {
  margin: 0;

  @include gtSmall() {
    margin-right: 1em;
  }

  img {
    display: block;
    width: 8em;
    border-radius: 50%;
    border: solid 5px $color-brand-purple-medium;
  }
}

.footerAuthorDetails {
  text-align: center;
  margin: 1em 0 0;

  @include gtSmall() {
    text-align: left;
    margin: 0;
  }
}

.footerAuthorName {
  font-size: 1.6em;
  font-weight: 700;
  margin: 0;
}

.footerAuthorSocial {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 2em;
  padding: 0;
  margin: 0.2em -0.3em 0;

  @include gtSmall() {
    justify-content: flex-start;
  }

  li {
    margin: 0;
  }

  a {
    padding: 0 0.3em;
  }

  svg {
    color: $color-brand-purple-dark;
  }
}

.footerAuthorMore {
  margin: 0;

  a {
    @include pageLink;
  }
}

.footerSignup {
  text-align: center;

  .heading {
    max-width: 20em;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    max-width: 20em;
    margin: 0 auto;
  }

  label {
    color: white;
  }
}

.footerAnchor,
.footerPoweredBy {
  padding: 0.8rem 0;

  &,
  a {
    color: $color-gray-50;
  }

  p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }
}

.footerPoweredBy {
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    @include gtSmall() {
      flex-direction: row;
    }
  }
}

.footerWPEngine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0 0;

  @include gtSmall() {
    margin: 0 0 0 0.8em;
  }

  svg {
    width: auto;
    height: 1.5em;
  }
}

.footerAnchor {
  text-transform: uppercase;
  margin: 0;

  a {
    display: inline-block;
    @include pageLink;
    padding: 0 0.4em;
  }
}

.footerAnchorLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0.4em 0 0;

  a {
    padding: 0.4em 0.6em;
  }
}
