@import "styles/settings/__settings";
@import "styles/util/__util";

.footer {
  width: 100%;
}

.footerSignup {
  text-align: center;

  h3 {
    max-width: 20em;
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin: 0 auto 1em;
  }

  form {
    max-width: 20em;
    margin: 0 auto;
  }

  label {
    color: white;
  }
}

.footerMenu {
  margin: 0;

  @include gtMedium() {
    margin: 2rem 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.footerMenuColumns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 0;

  @include gtSmall() {
    justify-content: center;
  }

  @include gtMedium() {
    flex-direction: row;
  }

  & > li {
    width: 100%;
    padding: 0 1em;
    margin-bottom: 2em;

    @include gtMedium() {
      max-width: 20em;
      width: auto;
      margin: 2em;
    }
  }
}

.footerMenuTitle {
  display: inline-block;
  color: $color-gray-50;
  text-decoration: none;
  margin: 0 0 1.4em;
}

a.footerMenuTitle {
  @include withHover() {
    &:hover {
      color: $color-brand-purple;
      text-decoration: underline;
    }
  }
}

.footerMenuItems {
  li {
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    overflow: hidden;
    color: $color-gray-100;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include withHover() {
      &:hover {
        color: $color-brand-purple;
        text-decoration: underline;
      }
    }
  }
}

.footerLegal {
  padding: 0.8rem 0;
  margin: 0;

  &,
  a {
    color: $color-gray-50;
  }

  p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
  }

  a {
    text-decoration: none;

    @include withHover() {
      &:hover {
        color: $color-brand-purple;
        text-decoration: underline;
      }
    }
  }
}
