@import "mixins-display";

@mixin withHover() {
  @media (hover: hover) {
    @content;
  }
}

@mixin pageLink {
  color: $color-brand-yellow-medium;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: underline;
  }
}
